{% extends  'layout/main.html.twig' %}

{% block pagetitle %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Seznam časopisů</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="panel-body">
            <div id="magList">
                <table id="List" width="100%">
                    <thead>
                    <tr>
                        <th>Číslo časopisu</th>
                        <th>Datum vydání</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1/2016 - rybičky smrdí</td>
                        <td>Leden 2016</td>
                        <td><a href="#">Stahuj zde</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            var table = $('#List').DataTable();
        });
    </script>
{% endblock %}
