.margin-top-16px {
  margin-top: 16px;
}
.margin-top-25px {
  margin-top: 25px;
}

.navbar {
  max-height: 50px;
}

#hodnoceni th {
  padding: 1px;
}

#hodnoceni td {
  padding: 1px;
}

#filtr {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 10px 0;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
}
#filtr h1{
  font-size:18px;
  margin:0 -10px;
  padding:0 10px 10px;
  cursor:pointer
}
#filtr form{
    margin:10px 0;
    display:none
}
#filtr.open h1{
  border-bottom:2px solid #e7e7e7;
}
#filtr.open form{
  display:block;
}
#filtr.open .filter-footer{
  display:none
}
#filtr .filter-footer{
  margin-bottom:10px
}
.navbar-header .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 26px;
    font-size: 18px;
    line-height: 20px;
}
.navbar .dropdown-toggle {
  margin-top: 9px;
}
#wrapper .navbar {
  min-height: 68px;
}
#casopis_uzaverka {
  display: flex;
}
#casopis_uzaverka .select2-container--bootstrap {
  display: inline-block;
}
.navbar .navbar-right {
  margin-right: 0px;
}
input[type=checkbox] {
  vertical-align: -2px;
}
.login-margin-50px {
  margin-top: 50px;
}
div .redirect-to-homepage-btn{
    display: block;
}
.success-color {
    color: #5cb85c;
}
.danger-color {
    color: #d9534f;
}
th .asc::after {
    padding-left: 5px;
    font-family: 'Glyphicons Halflings';
    content: "\e155";
    color: #EE5757;
}
th .desc::after {
    padding-left: 5px;
    font-family: 'Glyphicons Halflings';
    content: "\e156";
    color: #EE5757;
}
th .sortable::after {
    padding-left: 5px;
    font-family: 'Glyphicons Halflings';
    content: "\e150";
    color: #B5B5B5;
}